@import './variables.scss';
@import './components/blogFrameworks/index.scss';
@import './containers/index.scss';
@import 'components/footer';
@import 'components/header';
@import 'components/paginator';
@import 'components/simpleBlog';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: $font-default;
  font-size: $font-size-small;
}

button {
  cursor: pointer;
  outline: none;
  background: $color-browngray;
  font-size: $font-size-small;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  width: 42%;
  color: $color-white;
  font-family: 'Montserrat-Bold';
  padding: 15px 0;
}

.main {
  display: block;
  height: 100%;
  margin: 0 auto;
  .spinner {
    margin: 100px auto;
  }
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

h1 {
  font-family:'Montserrat-Bold';
  font-size: $font-size-big;
}

h3, h2 {
  font-family:'Montserrat-Bold';
  font-size: $font-size-big;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}




::-webkit-scrollbar-track {
  background-color: $color-browngray ;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px ;
  background-color: $color-darkgray ;
}
::-webkit-scrollbar-thumb {
  background-color: $color-darkgray;
}